body {
    display:flex;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
}

.content {
    background-color: whitesmoke;
    margin: 15%;
    margin-top: 2%;
    padding : 2%;
}

.question {
    margin: 10px;
    font-size: 1.1em;
}