h1 {
color : white;
background-color:pink;
}

#message {
    background-color: white;
    border: solid black 2px;
    width: 1000px;
    height: 80px;
    border-radius: 15px;

}

.message {
 border: solid black 1px;
 border-radius: 5px;
 box-shadow: 0px 2px 4px 0px black;
}

#messages{
   margin-left: 200px;
   margin-right: 200px;
}

.from {
    style-weight: bold;
}

.personal-avatar {
  cursor: pointer;
  width: 120px;
  height: 120px;
  box-sizing: border-box;
  border-radius: 100%;
  border: 2px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  transition: all ease-in-out .3s;
}