/* General */
/* TODO move to other file */

#content {
    display: flex;
}
/* File only */

#garage {
    justify-content: center;
    border-top: solid;
    border-bottom: solid;
    display: flex;
    justify-content: end;
}

#div_garage {

}

#sens {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cache {
    display:none;
}

.questions {
  background-color: white;
  opacity: 85%;
  border-radius: 15px;
  border-style: solid;
  border: 2px solid #grey;
  padding: 10px
}
ul {
    height:50px;
}

#activite {
    justify-content: center;
    display: flex;
}