/* General */
/* TODO move to other file */

#content {
    display: flex;
}
/* File only */

/* TODO fix bordures gauche droite , arrrrrrrrrrhhhhhh */
#piles {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-top: 0;
}

#div_plates {

}

#sens {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.questions {
  background-color: white;
  opacity: 85%;
  border-radius: 15px;
  border-style: solid;
  border: 2px solid #grey;
  padding: 10px
}
.ul-piles {
    width: 10%;
    padding: 2px;
    border-left: 1px solid black;
    border-end: 1px solid black;
    border-bottom: 1px solid black;
}

#activite {
    justify-content: center;
    display: flex;
}

#restart {
width:150px;
height: 50px;
}

.instruction {
    display: flex;
    flex-direction: column;
    width: 200px;
}

#intructions_written {
    background-color: #80808029;
    width: 800px;
    padding-left: 30px;
    padding-top: 30px;
    font-weight: bold;
    font-size: 1.6em;
    font-family: "Robtoto Mono";
}

#part3 {
}

.indent {
    margin-left:30px;
}

.code {
    font-weight: bold;
    fond-size: 1.4em;
}

.cache {
    display:none;
}
