body {
  margin: 20px;
  /*background-image: url('https://www.wallpaperup.com/uploads/wallpapers/2013/07/13/118217/66e9d44b4a6a9483796309f5ded85461.jpg');
    */
}
.row {
    display:flex;
    flex-direction: row;
}

#row1 {
    height:800px;
}
.vertical {
    display: flex;
    flex-direction: column;
}

#avatar {
    height: 100%;
}
div section {
    border-
}


#main-info table {
    font-size: 2em;
}

#identity {
    display: flex;

}

.competences {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5em;
}
.skills {
   width:95%;
   height:95%;
}

#row2 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#row2 div {
    border-radius: 25px;
    border: 2px solid black;
    background: #ffffcc;
    padding: 20px;

}

/* Tooltip container */
.tooltip {
  position: relative;
    height: 100%;

  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
top: 55px;
  left: 105%;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 520px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  font-size: 3em;
  z-index: 1;
  top: -5px;
  left: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}