body {
    margin:10%;
    background-image: url('https://cdn.creazilla.com/illustrations/1668489/space-pokemon-go-virtual-illustration-md.jpeg');
    background-repeat: repeat;
}

#cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img {
    width: 100%;
    height: 50%;
}
.card-rowy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-body a {
    display:none;
}

.card:hover a {
    display:block;

}

.card {
    background-color: #92A8D1;
}